.section-with-testimonials-v1 .content-wrapper {
  box-sizing: border-box !important;
}
.section-with-testimonials-v1 .summary-item-list-container .summary-item {
  padding-bottom: 0px !important;
}
.section-with-testimonials-v1 .summary-item {
  height: auto;
  overflow: visible !important;
}
.section-with-testimonials-v1 .summary-item a {
  pointer-events: none;
}
.section-with-testimonials-v1 .summary-item .summary-content.sqs-gallery-meta-container {
  background-color: #ffffff;
  position: relative;
  z-index: 10;
  padding: 48px 32px 24px;
  padding: 3rem 2rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  width: 100% !important;
  border-radius: 15px;
}
.section-with-testimonials-v1 .summary-item .summary-metadata-container {
  display: none;
}
.section-with-testimonials-v1 .summary-item .summary-metadata-item--tags {
  display: block;
}
.section-with-testimonials-v1 .summary-item .summary-excerpt p {
  font-size: 17.6px;
  font-size: 1.1rem;
  color: #000000;
}
.section-with-testimonials-v1 .summary-item .testimonial-info {
  margin-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.section-with-testimonials-v1 .summary-item .testimonial-info .img-testim {
  padding-bottom: 0px !important;
  width: 72px !important;
  width: 4.5rem !important;
}
.section-with-testimonials-v1 .summary-item .testimonial-info .img-testim img {
  height: 72px !important;
  height: 4.5rem !important;
  width: 72px !important;
  width: 4.5rem !important;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  top: 0 !important;
  left: 0 !important;
  display: block;
  border-radius: 50%;
  border: 3px solid #407fda;
  background-color: #407fda;
}
.section-with-testimonials-v1 .summary-item .testimonial-info .info-testim {
  margin-left: 10px;
  width: calc(100% - 4.5rem - 10px);
}
.section-with-testimonials-v1 .summary-item .testimonial-info .info-testim .summary-title {
  margin: 0px;
  font-size: 17.6px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #000000;
}
.section-with-testimonials-v1 .summary-item .testimonial-info .info-testim .summary-metadata-item a {
  font-size: 16px;
  font-size: 1rem;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  color: #000000;
}
.section-with-testimonials-v1 .summary-item .icon-svg {
  display: block !important;
  position: absolute;
  fill: #407fda;
  width: 64px;
  width: 4rem;
  height: 64px;
  height: 4rem;
  top: -32px;
  top: -2rem;
  left: 32px;
  left: 2rem;
  z-index: 11;
}
@media only screen and (max-width: 640px) {
  .section-with-testimonials-v1 .summary-item .icon-svg {
    left: 1rem;
  }
}
.section-with-testimonials-v1 .summary-item .summary-content + .icon-svg {
  bottom: -32px;
  bottom: -2rem;
  top: auto;
  right: 32px;
  right: 2rem;
  left: auto;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
@media only screen and (max-width: 640px) {
  .section-with-testimonials-v1 .summary-item .summary-content + .icon-svg {
    right: 1rem;
  }
}
.section-with-testimonials-v1 .summary-item:nth-child(2n) .icon-svg {
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.section-with-testimonials-v1 .summary-item:before {
  content: '';
  top: 0;
  width: 90%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  box-shadow: 0px 10px 20px 10px #407fda;
  position: absolute;
  opacity: .2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  border-radius: 10%;
}
@media only screen and (max-width: 640px) {
  .section-with-testimonials-v1 .summary-item:before {
    width: 80%;
  }
}
.section-with-testimonials-v1 .summary-item-list {
  padding: 64px 0px;
  padding: 4rem 0px;
}
.section-with-testimonials-v1 .swiper-pagination {
  bottom: auto !important;
  right: 0 !important;
  left: auto !important;
  top: 0 !important;
  width: auto !important;
}
.section-with-testimonials-v1 .swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 10px;
  border-radius: 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background-color: #407fda;
  outline: none;
}
.section-with-testimonials-v1 .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 40px;
}
