/* 50/50 Blog Item */
/* General */
/* Meta */
/* Title */
/* Pagination */
/* Content space */
/* Content size */
/* Alt logo (see code injection) */
.view-item[class*="collection-type-blog"] {
  opacity: 0;
  transition: all 0.2s ease;
}
.fifty-fifty-blog-item {
  opacity: 1 !important;
}
.fifty-fifty-blog-item header .header-announcement-bar-wrapper {
  max-width: 100%;
  padding-left: 60px;
  padding-right: 60px;
}
.fifty-fifty-blog-item header .header-announcement-bar-wrapper .header-actions,
.fifty-fifty-blog-item header .header-announcement-bar-wrapper .header-burger {
  display: none;
}
.fifty-fifty-blog-item header .header-announcement-bar-wrapper .more-articles-menu-button {
  position: relative;
  padding: 12px 20px;
  border: 1px solid;
  font-size: 14px;
  text-transform: uppercase;
  color: transparent !important;
  border-color: #fff !important;
}
.fifty-fifty-blog-item header .header-announcement-bar-wrapper .more-articles-menu-button:before {
  content: 'More Articles';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;

  transform: translate(-50%, -50%);
}
.fifty-fifty-blog-item header .header-announcement-bar-wrapper .more-articles-menu-button:hover {
  background-color: #fff !important;
  border-color: #fff !important;

}
.fifty-fifty-blog-item header .header-announcement-bar-wrapper .more-articles-menu-button:hover:before {

}
.fifty-fifty-blog-item header .header-announcement-bar-wrapper a,
.fifty-fifty-blog-item header .header-announcement-bar-wrapper svg {
  color: #fff !important;
  fill: #fff !important;
  border-color: #fff;
}
@media only screen and (max-width: 1200px) {
  .fifty-fifty-blog-item header .header-announcement-bar-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 1023px) {
  .fifty-fifty-blog-item header .header-announcement-bar-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .fifty-fifty-blog-item header {
    position: fixed;
    width: 50%;
    top: 0;
  }
}
.fifty-fifty-blog-item header .header-title-logo.alt-logo a {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 60px;
  width: 100%;
}
.fifty-fifty-blog-item header .header-title-logo.alt-logo a a {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.fifty-fifty-blog-item header .header-title-logo.alt-logo a img {
  opacity: 0 !important;
}
@media only screen and (max-width: 768px) {
  .fifty-fifty-blog-item header .header-title-logo.alt-logo a {
    max-width: 60px;
  }
}
.fifty-fifty-blog-item #page .page-section:first-of-type {
  padding-top: 0 !important;
}
@media only screen and (min-width: 1024px) {
  .fifty-fifty-blog-item .blog-item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-height: 100vh;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
}
.fifty-fifty-blog-item .blog-item-hero-banner {
  position: fixed;
  max-width: 50%;
  width: 100%;
  height: 100vh;
}
.fifty-fifty-blog-item .blog-item-hero-banner .banner-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.fifty-fifty-blog-item .blog-item-hero-banner .banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fifty-fifty-blog-item .blog-item-hero-banner .blog-item-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25vh 60px 0;
  box-sizing: border-box;
}
.fifty-fifty-blog-item .blog-item-hero-banner .blog-item-main-content .blog-item-meta-wrapper {
  margin-bottom: 32px;
  order: 1;
}
.fifty-fifty-blog-item .blog-item-hero-banner .blog-item-main-content .blog-item-meta-wrapper * {
  font-size: 20px;
  color: #fff !important;
}
@media only screen and (max-width: 1023px) {
  .fifty-fifty-blog-item .blog-item-hero-banner .blog-item-main-content .blog-item-meta-wrapper {
    margin-bottom: 24px;
  }
  .fifty-fifty-blog-item .blog-item-hero-banner .blog-item-main-content .blog-item-meta-wrapper * {
    font-size: 18px;
  }
}
.fifty-fifty-blog-item .blog-item-hero-banner .blog-item-main-content .blog-item-title {
  order: 2;
}
.fifty-fifty-blog-item .blog-item-hero-banner .blog-item-main-content .blog-item-title h1 {
  margin-bottom: 40px;
  font-size: 60px;
  line-height: 1.2em;
  color: #fff;
}
@media only screen and (max-width: 1200px) {
  .fifty-fifty-blog-item .blog-item-hero-banner .blog-item-main-content .blog-item-title h1 {
    font-size: 45px;
  }
}
@media only screen and (max-width: 1023px) {
  .fifty-fifty-blog-item .blog-item-hero-banner .blog-item-main-content .blog-item-title h1 {
    margin-bottom: 30px;
    font-size: 40px;
  }
}
.fifty-fifty-blog-item .blog-item-hero-banner .blog-item-main-content .blog-item-pagination-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: calc(100% - 80px);
  position: absolute;
  bottom: 5.5%;
  left: 40px;
  right: 40px;
  order: 3;
}
.fifty-fifty-blog-item .blog-item-hero-banner .blog-item-main-content .blog-item-pagination-wrapper .item-pagination-link {
  margin: 0;
}
.fifty-fifty-blog-item .blog-item-hero-banner .blog-item-main-content .blog-item-pagination-wrapper .item-pagination-link.item-pagination-link--prev {
  margin-right: 16px;
}
.fifty-fifty-blog-item .blog-item-hero-banner .blog-item-main-content .blog-item-pagination-wrapper .item-pagination-title,
.fifty-fifty-blog-item .blog-item-hero-banner .blog-item-main-content .blog-item-pagination-wrapper .item-pagination-prev-next {
  font-size: 22px;
  line-height: 1.3em;
  color: #fff;
}
@media only screen and (max-width: 1023px) {
  .fifty-fifty-blog-item .blog-item-hero-banner .blog-item-main-content .blog-item-pagination-wrapper .item-pagination-title,
  .fifty-fifty-blog-item .blog-item-hero-banner .blog-item-main-content .blog-item-pagination-wrapper .item-pagination-prev-next {
    font-size: 20px;
  }
}
.fifty-fifty-blog-item .blog-item-hero-banner .blog-item-main-content .blog-item-pagination-wrapper .item-pagination-title {
  display: none;
}
.fifty-fifty-blog-item .blog-item-hero-banner .blog-item-main-content .blog-item-pagination-wrapper .item-pagination-prev-next {
  display: block;
  font-weight: 500;
}
@media only screen and (max-width: 1023px) {
  .fifty-fifty-blog-item .blog-item-hero-banner .blog-item-main-content .blog-item-pagination-wrapper {
    bottom: 7.5%;
  }
}
@media only screen and (max-width: 820px) {
  .fifty-fifty-blog-item .blog-item-hero-banner .blog-item-main-content .blog-item-pagination-wrapper {
    width: calc(100% - 60px);
    left: 30px;
    right: 30px;
  }
}
@media only screen and (max-width: 1200px) {
  .fifty-fifty-blog-item .blog-item-hero-banner .blog-item-main-content {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 1023px) {
  .fifty-fifty-blog-item .blog-item-hero-banner .blog-item-main-content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 1023px) {
  .fifty-fifty-blog-item .blog-item-hero-banner {
    position: relative;
    max-width: 100%;
  }
}
.fifty-fifty-blog-item .item-pagination-link .icon--stroke,
.fifty-fifty-blog-item .item-pagination-link svg {
  width: 16px;
  height: 26px;
}
.fifty-fifty-blog-item .item-pagination-link svg polyline {
  stroke: #fff !important;
}
.fifty-fifty-blog-item .item-pagination-link.item-pagination-link--prev .icon--stroke {
  padding-right: 7px;
}
.fifty-fifty-blog-item .item-pagination-link.item-pagination-link--next .icon--stroke {
  padding-left: 7px;
}
.fifty-fifty-blog-item article.entry {
  position: relative;
  max-width: 50%;
  padding: 100px 50px;
  margin: 0 0 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}
.fifty-fifty-blog-item article.entry .blog-item-inner-wrapper {
  width: 100%;
}
.fifty-fifty-blog-item article.entry .blog-item-inner-wrapper .blog-item-top-wrapper {
  margin-bottom: 0;
}
.fifty-fifty-blog-item article.entry .blog-item-inner-wrapper .blog-item-top-wrapper .blog-item-title,
.fifty-fifty-blog-item article.entry .blog-item-inner-wrapper .blog-item-top-wrapper .blog-item-meta-wrapper {
  display: none;
}
.fifty-fifty-blog-item article.entry .blog-item-inner-wrapper .blog-item-content p {
  font-size: 20px;
  line-height: 1.5em;
}
@media only screen and (max-width: 900px) {
  .fifty-fifty-blog-item article.entry .blog-item-inner-wrapper .blog-item-content p {
    font-size: 20px;
    line-height: 1.5em;
  }
}
@media only screen and (max-width: 1023px) {
  .fifty-fifty-blog-item article.entry {
    max-width: 100%;
    padding: 40px 40px;
    margin: 0 auto;
  }
  .fifty-fifty-blog-item article.entry .blog-item-inner-wrapper {
    width: 100%;
  }
}
.fifty-fifty-blog-item footer,
.fifty-fifty-blog-item section.item-pagination {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .fifty-fifty-blog-item {
    max-height: 100vh;
    height: 100vh;
  }
  .fifty-fifty-blog-item #siteWrapper {
    position: relative;
    overflow: hidden;
  }
  .fifty-fifty-blog-item #siteWrapper #page {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
.fifty-fifty-blog-item a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fifty-fifty-blog-item a:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* 50/50 Blog Item */