
.sqs-gallery-design-list .summary-item-list {
  opacity: 0;
}
.sqs-gallery-design-list .ghost-slideshow-7-1 {
  opacity: 1;
}
.tns-ovh .ghost-slideshow-7-1 .summary-item {
  display: -webkit-inline-box !important;
  display: -webkit-inline-flex !important;
  display: -moz-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.ghost-slideshow-7-1 .summary-item {
  min-height: 85vh;
  position: relative;
}
@media only screen and (orientation: portrait) {
  .ghost-slideshow-7-1 .summary-item {
    min-height: 65vh;
  }
}
.ghost-slideshow-7-1 .summary-item .summary-thumbnail-outer-container {
  width: 100% !important;
  height: 100%;
  position: absolute;
  background-color: #000000;
}
.ghost-slideshow-7-1 .summary-item .summary-thumbnail-outer-container a {
  padding: 0px !important;
  pointer-events: none;
  position: static;
  height: 100% !important;
}
.ghost-slideshow-7-1 .summary-item .summary-thumbnail-outer-container a .summary-thumbnail.img-wrapper {
  padding-bottom: 0px !important;
  overflow: visible !important;
  position: static;
  opacity: 1 !important;
  visibility: visible !important;
  transform: none !important;
}
.ghost-slideshow-7-1 .summary-item .summary-thumbnail-outer-container a .summary-thumbnail.img-wrapper img {
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  display: block;
  object-fit: cover;
  position: absolute !important;
}
.ghost-slideshow-7-1 .summary-item .summary-content.sqs-gallery-meta-container {
  width: 100% !important;
  max-width: 70%;
  padding: 14vw 3vw;
  position: relative;
  float: none;
  left: 0;
  right: 0;
    opacity: 1 !important;
  visibility: visible !important;
  transform: none !important;
}
@media only screen and (orientation: portrait) {
  .ghost-slideshow-7-1 .summary-item .summary-content.sqs-gallery-meta-container {
    padding-left: 6vw;
    padding-right: 6vw;
    max-width: 100%;
  }
}
.ghost-slideshow-7-1 .summary-item .summary-metadata-container {
  display: none;
}
.ghost-slideshow-7-1 .summary-item .summary-title a {
  pointer-events: none;
  font-size: 50px;
  display: block;
  color: #ffffff;
  line-height: 1.1;
}
@media only screen and (max-width: 640px) {
  .ghost-slideshow-7-1 .summary-item .summary-title a {
    font-size: 28px;
  }
}
.ghost-slideshow-7-1 .summary-item .summary-excerpt p {
  font-size: 20px;
  display: block;
  color: #e9e9e9;
    opacity: 1 !important;
  visibility: visible !important;
  transform: none !important;
}
@media only screen and (max-width: 640px) {
  .ghost-slideshow-7-1 .summary-item .summary-excerpt p {
    font-size: 16px;
  }
}
.ghost-slideshow-7-1 .summary-item .summary-excerpt a {
  display: inline-block;
  margin: 0;
  margin-right: 100%;
  white-space: nowrap;
  margin-top: 19px;
}
@media only screen and (max-width: 640px) {
  .ghost-slideshow-7-1 .summary-item .summary-excerpt a {
    margin-top: 10px;
  }
}
.ghost-slideshow-7-1.center-alignment .summary-content {
  margin: 0 auto;
}
.ghost-slideshow-7-1.center-alignment .summary-content .summary-title a {
  text-align: center;
}
.ghost-slideshow-7-1.center-alignment .summary-content .summary-excerpt p {
  text-align: center;
}
.ghost-slideshow-7-1.center-alignment .summary-content .summary-excerpt p a {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.ghost-slideshow-7-1.right-alignment .summary-content {
  margin: 0 0 0 auto;
}
.ghost-slideshow-7-1.right-alignment .summary-content .summary-title a {
  text-align: right;
}
.ghost-slideshow-7-1.right-alignment .summary-content .summary-excerpt p {
  text-align: right;
}
.ghost-slideshow-7-1.right-alignment .summary-content .summary-excerpt p a {
  display: table;
  margin-left: auto;
  margin-right: 0;
}
.section-with-full-width-slider {
  min-height: auto !important;
}
.section-with-full-width-slider.transparent-header-above-slider {
  padding-top: 0px !important;
}
.section-with-full-width-slider .content {
  width: 100% !important;
}
.section-with-full-width-slider .content-wrapper {
  padding: 0px !important;
  margin: 0px !important;
  max-width: none;
}
.section-with-full-width-slider .content-wrapper .sqs-layout.sqs-grid-12 > .row {
  margin: 0px !important;
}
.section-with-full-width-slider .content-wrapper .sqs-layout.sqs-grid-12 > .row .sqs-block {
  padding: 0px !important;
}
.section-with-full-width-slider [data-action="stop"],
.section-with-full-width-slider [data-action="start"] {
  display: none;
}
.section-with-full-width-slider .tns-nav {
  display: none !important;
}
.section-with-full-width-slider .tns-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 100%;
  outline: none !important;
}
.section-with-full-width-slider .tns-controls button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background-color: transparent;
  border: none;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
  transition: all .3s ease;
  padding: 0px !important;
}
@media only screen and (max-width: 1050px) {
  
}
@media only screen and (orientation: portrait) {
  .section-with-full-width-slider .tns-controls button {
    background-size: 100%;
  }
}
.section-with-full-width-slider .tns-controls button[data-controls="prev"] {
  left: 0px;
  background-image: url('https://www.ghostplugins.dev/assets/imgs/left-arrow-white.png');
}
@media only screen and (max-width: 1050px) {
  .section-with-full-width-slider .tns-controls button[data-controls="prev"] {
    left: 0px;
  }
}
.section-with-full-width-slider .tns-controls button[data-controls="next"] {
  right: 0px;
  background-image: url('https://www.ghostplugins.dev/assets/imgs/right-arrow-white.png');
}
@media only screen and (max-width: 1050px) {
  .section-with-full-width-slider .tns-controls button[data-controls="next"] {
    right: 0px;
  }
}
.section-with-full-width-slider .tns-controls button:hover {
  filter: drop-shadow(2px 4px 6px #000000);
}

.ghost-slideshow-7-1 .summary-item .summary-thumbnail-outer-container a .summary-thumbnail.img-wrapper:after { display: block; content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0);}